body {
    font: 11pt/1.5 "Feura Sans", Cantarell, sans-serif;
    margin: 0;
    background-color: #2F2965;
	animation: 200s infinite colorful;
	-webkit-animation: 200s infinite colorful;
}
@media screen and (min-width:750px) {
	body {
		font-size: 13pt;
	}
}
a { text-decoration: none; color: #4E43C8; }
article a { font-weight: bold; color: #4E43C8;}
p a:hover { text-decoration: underline; }


h1, h2, h3 {
    font-family: "Feura Sans", Cantarell, sans-serif;
    font-weight: normal;
}

section.index {
    margin: 0 auto;
    text-align: center;
}
section.index.home {
	animation: 3s fondu;
	-webkit-animation: 3s fondu;
}
section.index figure a,
section.index figure a:hover {
	border: 0;
	box-shadow: 0 0;
}
section.index figure h1 {
    font-weight: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 220%;
    transition: all .3s;
    -webkit-transition: all .3s;
    opacity: 1;
}
section.index.post {
    margin-top: 30px;
}
section.index.post figure h1 {
    font-size: 210%;
    display: inline-block;
}
#cassiopeia {
    margin: 0 0 0 20px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 0;
    vertical-align: middle;
    width: 60px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
@media screen and (max-width:449px) {
	section.index figure h1 {
		margin: 10px 0 20px;
	}
}
section.index figure h1 small {
    display: block;
    font-size: 40%;
    text-align: left;
    color: rgb(153, 153, 153);
}

section.index figure.emb {
    padding: 0;
    display: inline-block;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
}
@media screen and (min-height:300px) {
	section.index figure.emb,
	section.index.post figure.emb {
		margin-top: 25px;
	}
}
@media screen and (min-height:520px) {
	section.index figure.emb {
		margin-top: 100px;
	}
}
@media screen and (min-height:800px) {
	section.index figure.emb {
		margin-top: 200px;
	}
}
section.index nav a {
	color: rgba(255, 255, 255, 0.45);
	margin: 0 4px;
	font-size: 110%;
	transition: all .2s;
	-webkit-transition: all .2s;
}
section.index nav a:hover {
	color: #fff;
}

.but {
	color: rgba(255, 255, 255, 0.5);
	display: inline-block;
	padding: 4px 12px;
	transition: all .2s;
	-webkit-transition: all .2s;
}
.but.vol {
	font-size: 160%;
}
.but:hover {
	color: #fff;
}

#playbut {
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	line-height: 55px;
	font-size: 170%;
	color: #fff;
	width: 55px;
	height: 55px;
	padding: 0;
	margin: 0 0 15px;
	border-radius: 2px;
	box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
#playbut:hover {
	background-color: rgba(255, 255, 255, 0.35);
}

/* animations */

@keyframes fondu {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fondu {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes colorful {
    0% { background-color: #2F2965; }
    20% { background-color: #652945; }
    40% { background-color: #3F6529; }
    60% { background-color: #296557; }
    80% { background-color: #294265; }
    100% { background-color: #382965; }
}
@-webkit-keyframes colorful {
    0% { background-color: #2F2965; }
    20% { background-color: #652945; }
    40% { background-color: #3F6529; }
    60% { background-color: #296557; }
    80% { background-color: #294265; }
    100% { background-color: #382965; }
}

/* polices */

@font-face {
    font-family: 'Feura Sans';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/feurasans/FeuraSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Feura Sans';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/feurasans/FeuraSans-Bold.ttf) format('truetype');
}
